body {
    background: #1b263b;
    color: #e0e1dd;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.logo {
    height: 35px;
    margin-right: 15px;
    width: 35px;
}

.header {
    align-items: center;
    color: #e0e1dd;
    display: flex;
    font-size: 0.8rem;
    justify-content: center;
    padding: 0.1rem;
    text-align: center;
}

.content {
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    justify-content: center;
}

.content-container {
    margin-left: 260px;
}

.chat-container {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 15px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    height: 90vh;
    margin-top: 1rem;
    max-width: 1024px;
    overflow: hidden;
    width: 98%;
}

.chat-header {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05);
    border-bottom: 1px solid rgba(244, 244, 244, 0.05);
    border-top: 1px solid rgba(244, 244, 244, 0.05);
    color: #e0e1dd;
    display: flex;
    font-size: 0.8rem;
    font-weight: bold;
    justify-content: space-between;
    padding: 0.5rem;
    text-align: center;
}

.header-text {
    flex: 1;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
}

.chat-messages::-webkit-scrollbar {
    width: 10px;
}

.chat-messages::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
}

.chat-messages::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.chat-messages::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.1);
}

.user-input {
    align-items: center;
    background-color: rgba(244, 244, 244, 0.05);
    border-top: 1px solid rgba(244, 244, 244, 0.05);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.user-input input[type="text"] {
    background: rgba(255, 255, 255, 0.05);
    border: none;
    border-radius: 15px;
    color: #e0e1dd;
    flex: 1;
    font-size: 0.9rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.8rem;
}

.user-input input[type="text"]:focus {
    outline: none;
}

.user-input button {
    background: linear-gradient(rgba(65, 90, 119, 0.5), rgba(27, 38, 59, 0.5));
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
    color: #e0e1dd;
    cursor: pointer;
    font-size: 1rem;
    padding: 1rem;
    transition: background 0.3s ease, transform 0.3s ease;
}

.user-input button:hover {
    background: linear-gradient(rgba(65, 90, 119, 0.5), rgba(27, 38, 59, 0.5));
    color: #e0e1dd;
    transform: scale(1.1);
}

.theme-toggle-checkbox {
    display: none;
}

.theme-toggle-slider {
    width: 40px;
    height: 20px;
    background-color: #008080;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-left: 10px;
}

.theme-toggle-slider:after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    top: 2px;
    left: 2px;
    transition: transform 0.3s ease;
}

.theme-toggle-checkbox:checked+.theme-toggle-slider {
    background-color: #e97117;
}

.theme-toggle-checkbox:checked+.theme-toggle-slider:after {
    transform: translateX(20px);
}

.toggle-container {
    display: flex;
    align-items: center;
}

.userMessage,
.aiResponseMessage {
    align-items: center;
    align-self: flex-start;
    background: linear-gradient(rgba(65, 90, 119, 0.0), rgba(27, 38, 59, 0.0));
    border-radius: 20px 20px 0 20px;
    color: #e0e1dd;
    display: block;
    font-size: 0.9rem;
    max-width: 90%;
    padding: 15px 20px;
}

.userMessage {
    align-self: flex-end;
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(27, 38, 59, 0.1));
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
    display: flex;
    max-width: 70%;
}

.thinkingMessage {
    color: #e97117;
    font-size: 0.8rem;
    font-weight: bold;
    margin: 10px;
}

.iconContainer {
    margin-right: 10px;
}

.aiIcon,
.userIcon {
    height: 20px;
    width: 20px;
}

.video-container {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: -1;
}

#video {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.sidebar {
    background: rgba(0, 0, 0, 0.8);
    font-size: 0.9rem;
    height: 100vh;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    position: fixed;
    top: 0;
    width: 260px;
    z-index: 1;
}

.sidebar .sidebar-content {
    max-height: 80vh;
    overflow-y: auto;
    padding: 20px;
}

.sidebar .sidebar-content select,
.sidebar .sidebar-content input[type="range"] {
    margin-bottom: 10px;
    width: 95%;
}

.sidebar .sidebar-content label {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .content-container {
        margin-left: 0;
    }
}
